.selected {
  color: blue;
}

.col-sm-5 {
  border: 3px solid #CAEEFA;
  height: 300px;
  border-radius: 25px;
  padding: 4% 8%;
}

p {
  font-size: 1.5em;
  line-height: 1em;
}

input {
  margin-bottom: 15px;
}

h5 {
  position: absolute;
  bottom: 8%;
  color: #FAB00A;
}

.col-sm-3 {
  margin-left: 40%;
}
