.selected {
  color: blue;
}

.col-sm-6 {
  border: 3px solid #CAEEFA;
  height: 600px;
  border-radius: 25px;
  padding: 4% 8%;
}

p {
  font-size: 1.5em;
  line-height: 1em;
}

input {
  margin-bottom: 15px;
}

h5 {
  position: absolute;
  bottom: 8%;
  color: #FAB00A;
}

.delete {
  position: absolute;
  bottom: 16%;
  color: #FABBEE;
}

.col-sm-3 {
  margin-left: 40%;
}

.feedback {
  position: absolute;
  bottom: 24%;
}

.star {
  font-size: 2em;
  color: #EDD015 ;
}

.rating-note {
  font-size: .85em;
}
